[submodule "bluemix-cli"]
	path = bluemix-cli
	url = ssh+git://aur@aur.archlinux.org/bluemix-cli.git
[submodule "gnushogi"]
	path = gnushogi
	url = ssh+git://aur@aur.archlinux.org/gnushogi.git
[submodule "xshogi"]
	path = xshogi
	url = ssh+git://aur@aur.archlinux.org/xshogi.git
[submodule "eszig"]
	path = eszig
	url = ssh+git://aur@aur.archlinux.org/eszig.git
