[submodule "gnushogi"]
	path = gnushogi
	url = ssh+git://aur@aur.archlinux.org/gnushogi.git
[submodule "xshogi"]
	path = xshogi
	url = ssh+git://aur@aur.archlinux.org/xshogi.git
[submodule "particle-cli"]
	path = particle-cli
	url = ssh+git://aur@aur.archlinux.org/particle-cli.git
[submodule "abctl"]
	path = abctl
	url = ssh+git://aur@aur.archlinux.org/abctl.git
[submodule "wget-lua"]
	path = wget-lua
	url = ssh+git://aur@aur.archlinux.org/wget-lua.git
[submodule "xfce4-artwork"]
	path = xfce4-artwork
	url = ssh+git://aur@aur.archlinux.org/xfce4-artwork.git
[submodule "networkmanager-iodine-git"]
	path = networkmanager-iodine-git
	url = ssh+git://aur@aur.archlinux.org/networkmanager-iodine-git.git
